Makefile
Makefile.in
/INSTALL
/autom4te.cache
/aclocal.m4
/compile
/configure
/config.guess
/config.log
/config.sub
/config.status
/depcomp
/install-sh
/libtls.pc
/libtool
/ltmain.sh
/m4
/missing
/test-driver
*/.deps
*/.libs
*.o
*.lo
*.la
